.App {
  width: 100vw;
  height: 100vh;
}

body{
  margin: 0;
  padding: 0;
}
button:hover{
  cursor: pointer;
}


.Navbar {
  background-color: #193961 ;
  width: 1450px;
  height: 80px;
  display: flex;
}
.Navbar .leftSide{
  flex: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 15px;
}

.Navbar .leftSide .link {
  max-height: 80px;

}
.Navbar .leftSide .link a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  
}


.Navbar .rightSide {
  flex: 50%;
  display: flex;
  align-items: center;  
  justify-content: flex-end;
  padding-right: 100px;
}


.Navbar .rightSide .profile {
  max-height: 80px;
}

.Navbar .rightSide .profile:hover {
  cursor: pointer;
}

.Navbar .rightSide .profile a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  display: grid;
  place-items: center;
}



.Sidebar {
  height: 100%;
  width: 80px;
  display: flex;
  background-color: #377ba8;
}

.SidebarList{
  height: auto;
  width: 100%;
  padding: 0;
}

.SidebarList .row{
  width: 100%;
  height: 70px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #2F6D96;
}

.SidebarList #active {
  background-color: #2F6D96;
}


.dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 205px;
  height: 41px;
  left: 50px;
  top: 120px;
  
}

.dashboardList .row-2 {
  width: 100%;
  height: 10px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: #193961;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.row-2 #icon {
  flex: 10%;
  
}
.row-2 #title { 
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  flex: 90%;
}
.line{
  transform: rotate(90deg);
}

.dashboardList:hover {
  cursor: pointer;
}


.corres {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 300px;
  height: 25px;
  left: 1100px;
  top: 130px;
}

.corres .row-3 {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.corres .row-3 #title {
  padding: 2px;
  padding-bottom: 5.5px;
}

.reminder{
  position: absolute;
  width: 200px;
  height: 103px;
  left: 110px;
  top: 210px;
  border: 0.9px solid rgba(0, 0, 0, 0.6);
  display: flex;
}

.reminder .re-right {
  flex: 3%;
  display: flex;
  background-color:#193961;
}
.reminder .re-left {
  flex: 98%;
  display: flex;
}

.reminder .re-left .re-text {
  margin-left: 15px;
  color: #AEAEAE;
  margin-top: 15px;
}

.reminder .re-left #re-num{
  font-weight: 400;
  font-size: 25px;
  padding-top:30px;
  margin-left: -65px;
}

.reminder .re-left .re-ellipse{
  height: 43px;
  width: 43px;
  background: #D9D9D9;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 80px;
  
}

.reminder .re-left .re-ellipse .re-icon{
  color:white;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
  margin-top: 5px;
}



.inbox {
  position: absolute;
  width: 200px;
  height: 103px;
  left: 330px;
  top: 210px;
  border: 0.9px solid rgba(0, 0, 0, 0.6);
  display: flex;
}

.inbox .in-right {
  flex: 3%;
  display: flex;
  background-color:#193961;
}
.inbox .in-left {
  flex: 98%;
  display: flex;
}

.inbox .in-left .in-text {
  margin-left: 15px;
  color: #AEAEAE;
  margin-top: 15px;
}

.inbox .in-left #in-num {
  font-weight: 400;
  font-size: 25px;
  padding-top:30px;
  margin-left:-35px;
}

.inbox .in-left .in-ellipse{
  height: 43px;
  width: 43px;
  background: #D9D9D9;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 80px;
  
}

.inbox .in-left .in-ellipse .in-icon{
  color:white;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
  margin-top: 5px;
}



.outbox {
  position: absolute;
  width: 200px;
  height: 103px;
  left: 550px;
  top: 210px;
  border: 0.9px solid rgba(0, 0, 0, 0.6);
  display: flex;
}

.outbox .ou-right {
  flex: 3%;
  display: flex;
  background-color:#193961;
}
.outbox .ou-left {
  flex: 98%;
  display: flex;
}

.outbox .ou-left .ou-text {
  margin-left: 15px;
  color: #AEAEAE;
  margin-top: 15px;
}

.outbox .ou-left #ou-num {
  font-weight: 400;
  font-size: 25px;
  padding-top:30px;
  margin-left:-47px;
}

.outbox .ou-left .ou-ellipse{
  height: 43px;
  width: 43px;
  background: #D9D9D9;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 80px;
  
}

.outbox .ou-left .ou-ellipse .ou-icon{
  color:white;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
  margin-top: 5px;
}



.closed {
  position: absolute;
  width: 200px;
  height: 103px;
  left: 770px;
  top: 210px;
  border: 0.9px solid rgba(0, 0, 0, 0.6);
  display: flex;
}

.closed .cl-right {
  flex: 3%;
  display: flex;
  background-color:#193961;
}
.closed .cl-left {
  flex: 98%;
  display: flex;
}

.closed .cl-left .cl-text {
  margin-left: 15px;
  color: #AEAEAE;
  margin-top: 15px;
}

.closed .cl-left #cl-num {
  font-weight: 400;
  font-size: 25px;
  padding-top:30px;
  margin-left:-47px;
}

.closed .cl-left .cl-ellipse{
  height: 43px;
  width: 43px;
  background: #D9D9D9;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 80px;
  
}

.closed .cl-left .cl-ellipse .cl-icon{
  color:white;
  align-items: center;
  justify-content: center;
  margin-left: 6.5px;
  margin-top: 6.3px;
}




.draft {
  position: absolute;
  width: 200px;
  height: 103px;
  left: 990px;
  top: 210px;
  border: 0.9px solid rgba(0, 0, 0, 0.6);
  display: flex;
}

.draft .dr-right {
  flex: 3%;
  display: flex;
  background-color:#193961;
}
.draft .dr-left {
  flex: 98%;
  display: flex;
}

.draft .dr-left .dr-text {
  margin-left: 15px;
  color: #AEAEAE;
  margin-top: 15px;
}

.draft .dr-left #dr-num {
  font-weight: 400;
  font-size: 25px;
  padding-top:30px;
  margin-left:-40px;
}

.draft .dr-left .dr-ellipse{
  height: 43px;
  width: 43px;
  background: #D9D9D9;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 80px;
  
}

.draft .dr-left .dr-ellipse .dr-icon{
  color:white;
  align-items: center;
  justify-content: center;
  margin-left: 6.0px;
  margin-top: 5px;
}